.bg-main-color {
  background-color: #f0860e;
}
.main-color {
  color: #f0860e;
}
.hot-color {
  color: #4035e4;
}

/* Nav */
.bg-nav-color {
  background-color: #f0860e;
}
.bg-nav-menu-color:hover {
  background-color: #f0860e;
}

.text-dark {
  color: whitesmoke;
}

/* Carousel */
.Max-size {
  max-height: 644px;
}

.front-fize-main {
  font-size: 4.5rem;
  line-height: 1;
}
.front-fize-sub {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
/* our package */
.btn-outline-package {
  color: #f0860e;
  border-color: #f0860e;
  transition: transform 1s;
}
.btn-outline-package:hover {
  color: #fff;
  background-color: #f0860e;
  border-color: #f0860e;
  transform: scale(1.05);
}
.btn-outline-package2 {
  color: #4035e4;
  /* border: 3px solid; */
  border-color: #4035e4;
  transition: transform 1s;
}
.btn-outline-package2:hover {
  color: #fff;
  background-color: #4035e4;
  border-color: #e6425d00;
  transform: scale(1.05);
}
.bg-top-card {
  /* transform: scale(1.02); */
  background-color: #f7a02e;
  color: rgba(2, 17, 31, 0.938);
}

#package {
  max-width: 100%;
}
.test-bg {
  background-color: green;
}
.test2-bg {
  background-color: rgb(128, 83, 0);
}


/* Frequently Asked Questions */
.table-row-color{
  background-color: #f7a02e;
  color: rgba(255, 255, 255, 0.781);
}