/* Nav */
.bg-nav-color{
    background-color: #f0860e;
}
.bg-nav-menu-color:hover{
    background-color: #f7a02e;
}


.text-dark{
  color: whitesmoke;
}


/* Carousel */
.Max-size{
  max-height: 644px;
}
